.not-available {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0;


    figure {
        max-width: 300px;
    }
}

.not-available {
    h2 {
        color: var(--dark-gray);
        font-size: 1.5rem;
        margin: 2rem 0;
    }
}

Button {
    margin-top: 15px;
}